# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# confidential post
/posts/overcoming-the-planar-bottleneck.md
/public/images/posts/overcoming-the-planar-bottleneck/

# hidden posts (cringe list)
/posts/éphémère.md
/posts/starlight-sky.md
/posts/crooked-plank.md
/posts/snack-like-things.md
/posts/on-glittering-things.md
/posts/faded-things.md
/posts/truth-and-hate.md
/posts/skepticism-of-love.md
/posts/love-as-discourse.md
/posts/bulking-up.md
/posts/Anhedosia.md
/posts/on-moderation.md
/posts/reason-for-studying.md
/posts/solidarity.md
